@import "tailwindcss";

:root {
  --primary-color: #2563eb;
  --secondary-color: #4ade80;
  --danger-color: #f87171;
  --bg-color: #f9fafb;
  --text-color: #1e293b;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: #1d4ed8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: 600;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}
